[Unit]
Description=Licor LI-840A logging service

[Service]
Type=simple
ExecStart=/home/pi/2015-iaq-tracer.git/scripts/co2-logger.py

[Install]
WantedBy=multi-user.target

