[Unit]
Description=Current switch logging service

[Service]
Type=simple
ExecStart=/usr/sbin/switch-logger
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target

